$background-light: #f1fbfe;
$primary-light: #24b9eb;
$secondary-light: #5f4e7e;
$tertiary-light: #746ab9;
$light-font-dark: #031d26;
$background-dark: #010b0e;
$primary-dark: #14aadb;
$secondary-dark: #9281b1;
$tertiary-dark: #514695;
$dark-font-light: #d9f3fc;
