@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
  min-height: 80vh;
  background-image: url(../../assets/images/car-park.png);
  background-position: center;

  &__section {
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 80vh;
  }

  &__section-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    @include tablet {
      align-items: center;
    }
  }

  &__section-title {
    margin: 0;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  &__section-p {
    font-size: 1.3rem;
    width: 60%;
    text-wrap: pretty;
  }
}
